/* Variables */

:root {
	--basic-white: #FFFFFF;
	--basic-neutral: #EEEEEE;
	--basic-font: #000000;
	--filter-font: #283136;
	--footer-font: #444444;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--basic-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
  padding-left: 140px;
  padding-right: 141px;
}

.visually-hidden {
	display: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  font-style: normal;
  text-align: center;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/* Main navigation */

nav {
    line-height: 30px;
    font-weight: 500;
    background-color: var(--basic-neutral);
    text-transform: uppercase;
    font-style: normal;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    
  }

.main-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 49px;
    margin-left: 140px;
  } 

.site-navigation {
    grid-column-start: 2;
    grid-column-end: 4; 
    margin-top: 76px;
    list-style: none;
    color: var(--basic-font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart {
    grid-column-start: 4;
    grid-column-end: -1; 
    margin-top: 76px;
    margin-right: 140px;
    justify-self: end;
}
/* Offer */

.main-offer {
  display: grid;
  grid-template-columns: min-content auto;
}

.offer-text h1 {
text-align: left;
}

.offer-text {
 
}

.offer-image img {
  width: 760px;
  height: 431px;
  padding-right: 141px;
  align-self: stretch;

}


/* Features */

.features-list {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-item {

}

.feature-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: bold;
}

/* Filters */

.page-catalog {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-content: start;

}

.right-filter {

}

.slides-section {
margin-left: 140px;
margin-right: 140px;

}

.filter {	
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-list {
	line-height: 19px;
	color: var(--filter-font);
}

.slides {
  padding-top: 30px;
  padding-bottom: 30px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 76px;
}

.footer-social {
  width: 300px;
  justify-self: start;
  margin-left: 140px;
  
}

.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.footer-discount {
  justify-self: start;
  

}

.social-discount h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.social-discount p {
   line-height: 22px;
   color: var(--footer-font);
}





